header
{
    font-size: 2.5em;
    color: red;
}
#navigation
{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}